h3{
    text-align: center;
    background-color: black;
    color: orange;
}

img{
    height: 160px;
    width: 130px;
}

p{
    font-weight: 600;
}

h1{
    text-align: center;
    background-color: orange;
    border: black 3px solid;
}

nav{
    text-align: center;
    background-color: yellow;
}

img.logo{
    height: 300px;
    width: 300px;
}

div{
    text-align: center;
}